<!--users/_backerで代替-->

<!--<%# user_backers.each do |backer| %>-->
<!--  <%#= link_to project_path(user_backers) do %>-->
<!--    <%#= image_tag backer.project.image %>-->
<!--    <%#= backer.project.title %>-->
<!--    <p>現在支援金額</p>-->
<!--    <p>支援者数</p>-->
<!--    <p>残り</p>-->
<!--  <%# end %>-->
<!--<%# end %>-->