<% projects.each do |project| %>
  <% if project.backer.user_id == current_user.id %>
    <%= link_to project_path(project) do %>
      <%= image_tag project.image %>
      <%= project.title %>
      <p>現在支援金額</p>
      <p>支援者数</p>
      <p>残り</p>
    <% end %>
  <% end %>
<% end %>