<div class="container">
  <div class="row  d-flex align-items-center justify-content-center" style="height:500px;">
    <h5>ありがとうございました。</h5>
    <!--<BODY onLoad=setTimeout("location.href='/'",3000)></BODY> align-items-center-->
    <div class="col-10 text-center">
      <%= link_to "戻る", backer_users_path(current_user), class: 'btn btn-ex' %>
    </div>
  </div>
  </div>
</div>