<div class="container">
  <div class="row  d-flex align-items-center justify-content-center" style="height:500px;">
    <h5>ありがとうございました。</h5>
    <!--<BODY onLoad=setTimeout("location.href='/'",3000)></BODY> align-items-center-->
  </div>
</div>