<div class="container">
  <div class="row p-2">
    <div class="col-1"></div>
    <div class="col-11"><h4 class="header">◆of.とは・・</h4>
      <div class="row pt-2">
        <h5>「声・想いを形に」していくためのプラットフォーム</h5>
      </div>
      <div class="row">
        　※（模擬的な）クラウドファンディングサイトという位置づけ<br>
        　<br>
          誰もが何かの一部
      </div>
    </div>
  </div>
  <div class="row p-2"></div>
  <div class="row p-2">
    <div class="col-1"></div>
    <div class="col-11"><h4 class="header">◆クラウドファンディングとは・・</h4>
      <div class="row pt-2">
        インターネットを介して自身の実現したい活動や夢、アイデアを発信することで、<br>
        その活動の趣旨に賛同してくれる人々から資金を募る資金調達の仕組み。<br>
        ※群衆(crowd)と資金調達(funding)を掛け合わせた造語<br>
      </div>
      <div class="row pt-3">
        <div style="border: dotted thin">

          ＊起案者＊<br>
           「◯◯してみたい」「◯◯を通して△△を実現したい」といったアイデアや想い、夢を持つ人　<br>
          ＊支援者＊　プロジェクト内容に賛同し、「活動を応援したい」と思う人<br>
          ＊参加者＊　活動を「一緒に作り上げたい」と思う人
        </div>
        <div class="col"><%= image_tag "cf_image", width: "90%", height: "100%" %></div>
      </div>
    </div>
  </div>
  <div class="row p-2"></div>
  <div class="row p-2">
    <div class="col-1"></div>
    <div class="col-10"><h4 class="header">◆プロジェクト実施の流れ</h4>
      <div class="row justify-content-center">
        <div class="col-4 text-center"><%= image_tag "flow_image(owner)", width: "100%", height: "100%" %></div>
        <div class="col-4 text-center"><%= image_tag "flow_image(supporter)", width: "100%", height: "100%" %></div>
        <div class="col-4 text-center"><%= image_tag "flow_image(supporter2)", width: "100%", height: "100%" %></div>
      </div>
    </div>
  </div>

  <div class="row p-2"></div>
  <div class="row p-2">
    <div class="col-1"></div>
    <div class="col-10"><h4 class="header">◆クラウドファンディングの種類</h4>
      <div class="row justify-content-center">
        <div class="col-12">
          <table class="table table-hover table-inverse">
            <thead class="thead-gray">
              <tr>
                <th>型</th>
                <th>内容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>購入型</td>
                <td>
                  起案者：モノやサービス、体験や権利などの「リターン」を販売。<br>
                  支援者：支援をした見返りとしてさまざまなリターンが得られる。
                </td>
              </tr>
              <tr>
                <td>寄附型</td>
                <td>
                  起案者：公益的な活動を行なっている団体が利用でき、集めた支援を「寄付金」として受け取れる。<br>
                  支援者：支援先が寄附金控除対象となる団体かつ対価性のないリターンに支援した場合、寄附による税制優遇<br>
                          を受けることができる。
                </td>
              </tr>
              <tr>
                <td>金融型</td>
                <td>
                  起案者：株式発行やファンドの仕組みを利用した投融資資金を募ることができる。<br>
                  支援者：会社の株式を取得することで将来の値上がりが期待できたり、配当やファンドの運用益の分配を<br>
                          受けられる可能性がある。
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>