<div class="card" style="width: 12rem;">
  <div class="card-title lead"><div class="font-monospace text-center">リターン情報</div></div>
  <div class="card-text"><p class="lead text-center">後援型</p></div>
  <div class="card-text text-center"><%= returnv.b_contents %></div>
  <div class="card-text"><p class="lead text-center">参加型</p></div>
  <div class="card-text text-center"><%= returnv.p_contents %></div>
</div>