<div class="card" style="width: 12rem;">
  <div class="card-title text-center">リターン情報</div>
  <div class="card-text text-center">
    【後援型】<br>
    <%= returnv.b_contents %>
  </div>
  <div class="card-text text-center">
    【参加型】<br>
    <%= returnv.p_contents %>
  </div>
</div>